.card {
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }

  .card__wrapper {
    img {
      max-width: 90%;
      margin: 10px;
      object-fit: contain;

      &:hover {
        opacity: 0.5;
      }
    }
    .card__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;

      h1 {
        font-family: "Playfair Display", Serif;
        font-size: 30px;
        font-weight: 500;
        color: #0f5298;
      }

      p {
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 600;
      }
    }

    .git {
      margin: 5px;
      font-size: 40px;
    }
  }
}
