.home {
  height: auto;
  background-color: #ffebe0;

  .about__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;

    .content {
      h1 {
        font-family: "Playfair Display", Serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1.5px;
        color: #0f5298;
      }

      .content__text {
        letter-spacing: 1px;
        padding: 0 10px;
        line-height: 20px;
        margin-top: 40px;
      }

      .icon {
        font-size: 40px;
      }

      .btn {
        background-color: #0f5298;
        color: white;
        letter-spacing: 2px;
        width: 200px;
        margin-top: 30px;
        height: 50px;

        &:hover {
          background-color: #00688b;
        }
      }
    }

    .picture {
      img {
        width: 360px;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 1070px) {
  .home {
    .about__wrapper {
      gap: 10px;
      // padding: 3em;
      .content {
        h1 {
          font-size: 53px;
        }

        .content__text {
          font-size: 20px;
          line-height: 22px;
          margin-top: 30px;
          padding: 0 40px;
        }

        .btn {
          width: 250px;
          height: 60px;
        }
      }

      .picture {
        img {
          width: 500px;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .home {
    .about__wrapper {
      // padding: 3em;
      .content {
        h1 {
          font-size: 60px;
        }

        .content__text {
          font-size: 25px;
          line-height: 30px;
          margin-top: 30px;
          padding: 0 40px;
        }

        .btn {
          width: 250px;
          height: 60px;
        }
      }

      .picture {
        img {
          width: 500px;
        }
      }
    }
  }
}

@media (min-width: 1750px) {
  .home {
    .about__wrapper {
      // padding: 3em;

      .content {
        .btn {
          width: 400px;
          height: 80px;
        }
      }

      .picture {
        img {
          width: 650px;
        }
      }
    }
  }
}
