.home {
  height: auto;
  background-color: #ffebe0;

  .about__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;

    .content {
      h1 {
        font-family: "Playfair Display", Serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1.5px;
        color: #0f5298;
      }

      .content__text {
        letter-spacing: 1px;
        padding: 0 10px;
        line-height: 20px;
        margin-top: 40px;
      }

      .btn {
        background-color: #0f5298;
        color: white;
        letter-spacing: 2px;
        width: 50%;
        margin-top: 30px;
        height: 50px;

        &:hover {
          background-color: #00688b;
        }
      }
    }

    .picture {
      img {
        width: 360px;
        object-fit: contain;
      }
    }
  }
}
