.header {
  .nav {
    background-color: #ffebe0 !important;

    a,
    span {
      color: #0f5298 !important;
      font-weight: 600 !important;
    }

    .navbar-toggler-icon {
      background-color: #0f5298 !important;
    }
  }
}
